.formGroup {
  display: inline-flex;
  border: 1px solid var(--lightgrey-1);
}

.formGroup input {
  border: none;
  outline: none;
  font-size: 20px;
  padding: 12px 0px 12px 16px;
  min-width: 280px;
}

.formGroupBtn {
  font-size: 24px;
}

.inputError {
  font-size: 12px;
  color: red;
  padding: 2px 16px;
}