@import 'css/CardSet.module.css';

.cardSet {
  composes: cardSet from 'css/CardSet.module.css';
  --indent: 32px;
  --items: 5;
  gap: var(--indent);
  margin: 48px 0;
}

.cardItem {
  composes: cardItem from 'css/CardSet.module.css';
}

.card img {
  height: 120px;
}